<div id="board" data-controller="chessboard" style="width: 400px"></div>

<div class="ml-12 w-64">
  <pre id="pgn" data-controller="chessboard" class="whitespace-pre-wrap p-4 bg-black text-white min-h-full"></pre>
</div>
